.minus,
.plus {
  border: none;
  color: var(--gray-dark);
  background-color: transparent;
}

.minus:hover,
.plus:hover {
  color: var(--gray-darker);
}

.qty {
  border: none;
  background-color: var(--gray-lighter);
}

.price_details_container {
  width: 25rem;
  min-height: 20rem;
}

.coupon_input {
  border: none;
  border-bottom: 1px solid gray;
}
