.aside_container {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}
.card_vertical {
  height: 27rem;
}
.card_details {
  position: absolute;
  bottom: 0;
}
.prod_list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}
.prod_img {
  justify-self: center;
  max-height: 70%;
  object-fit: contain;
  margin-top: 12px;
}
.prod_details_container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}
.mobile_aside_container {
  display: none;
}
.show_filters {
  display: none;
}
@media (max-width: 1280px) {
  .prod_list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
  }
}
@media (max-width: 904px) {
  .prod_list {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
  }
}
@media (max-width: 560px) {
  .show_filters {
    display: block;
    text-align: center;
    font-family: "Lato";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-light-shade);
    z-index: 3;
  }
  .aside_container {
    display: none;
  }
  .mobile_aside_container {
    max-width: 20rem;
    display: block;
    margin: 0.5rem auto;
  }
  .filter_container {
    position: fixed;
    background-color: var(--bg-offwhite);
    top: 19%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 12px;
    z-index: 3;
  }
}
