.single_prod_container {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 80vw;
  height: 80vh;
}
.prod_list_wrapper {
  display: flex;
}

@media screen and (max-width: 560px) {
  .prod_list_wrapper {
    flex-wrap: wrap;
  }
}
